.container {
  background-color: #54655b;
  background-image: url("https://www.transparenttextures.com/patterns/shley-tree-2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  background-attachment: fixed;
}


.why-choose {
  margin-bottom: 34px;
}
form h3 {
  font-size: 28px;
  color: #54655B;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
form p {
  margin: 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #545454;
}
.form-styles {
  background: rgba(235, 240, 237, 0.85);
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 1px 3px 7px #000;

}
.form-container {
  width: 960px;
}
.why-choose label {
  font-weight: bold;
  color: #545454;
  font-size: 15px;
}
.header {
  margin: 0px 0 50px 0px;
  padding-top: 60px;
  text-align: center;
}
.header img {
  margin-bottom: 36px;
}
.header h1 {
  font-family: 'Pattaya', sans-serif;
  font-size: 60px;
  margin: 0;
  line-height: 100%;
  font-weight: bold;
  color: #fff;
}

.header h4 {
  color: #98C6AB;
  padding-top: 3px;
  font-size: 25px;
  font-style: italic;
}

.button.large {
    font-size: 1.5rem !important;
    font-weight: bold;
}
.button.alert {
    background-color: #54655B !important;
    color: #fefefe;
}
.button.alert:hover {
    background-color: #6e8778 !important;
    color: #fefefe;
}
.shazam {
  margin-top: 90px;

}
.done-bkg {
  background: #EBF0ED;
}

/*Checkbox styles*/
.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #54655B;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
